@layer base {
    @font-face {
      font-family: 'trialRooftop';
      src: url(../src/fonts/TRIAL_Rooftop-Regular-BF64a6319fae1cf.woff) format('woff2');
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
}